.message-author {
    font-size: 0.75rem;
    color: #6e6e6e;
    margin-bottom: 0.5rem;
}

.message-bubble {
    display: inline-block;
    border-radius: 16px;
    padding: 12px;
    max-width: 80%;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px 0 rgba(198, 237, 192, 0.2);
    transition: background-color 0.3s;
}

.user-message {
    background-color: #8ecf70; 
    color: #102027;
    text-align: right;
}

.bot-message {
    background-color: #eef2f6; 
    color: #102027;
    text-align: left;
}

/* .message-list {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    overflow-y: auto;
} */

.message-list {
    min-height: 620px;
    max-height: 620px; 
    overflow-y: auto;  /* scroll bar */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background: #f7f7f7; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* shadow of bax */
}

/* scrollbar for webkit */
.message-list::-webkit-scrollbar {
    width: 8px;
}

.message-list::-webkit-scrollbar-track {
    background: #e0e0e0; /* track collar */
    border-radius: 4px;
}

.message-list::-webkit-scrollbar-thumb {
    background: #a0a0a0; /* bar collar */
    border-radius: 4px;
}

/* other webpages */
.message-list {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #e0e0e0;
}

/* 动画效果 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.message-bubble {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

